*{
    margin:0 auto;
    box-sizing: border-box;
    font-size:0.9rem;
}

.container{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
    width:80%;
    margin-top:100px;
}

/*  regole card member */
.card {
    width:calc((100% - 40px) / 3);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: black;
}

.card-img{
    height:100px;
    text-align:center;
}

.card-img img {
    height: 100px;
}

.card-content {
    color: white;
    padding: 10px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width:900px){

    .container{
        width:100%;
    }

    .card {
        width:calc((100% - 20px) / 2);
    }
}

@media screen and (max-width:550px){

    .card {
        width:calc(100%);
    }
}